[[source]]
name = "pypi"
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
optical-flow = {editable = true, path = "."}

[dev-packages]
# run comparison (compare_to_opencv.py)
scikit-image = "*"
opencv-python-headless = "*"
matplotlib = "*"
pyqt6 = "*"  # for matplotlib backend
# style checking
black = "*"
isort = "*"
pre-commit = "*"
# packaging
build = "*"
twine = "*"
